* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin: 50px auto;
  text-align: center;
  font-size: 42px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.winning-square {
  background: rgb(208, 255, 0);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 32px;
}
.game {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.game-info {
  margin-top: 0;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li > button {
  margin: 4px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}

li > button:hover {
  background-color:  rgb(208, 255, 0);
}

.active-move {
  background-color:  rgb(208, 255, 0);
}
