* {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(229, 255, 0);
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin: 20px auto 30px auto;
  text-align: center;
  font-size: 32px;
}

.square {
  background: #fefefe;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 44px;
  cursor: pointer;
}

.winning-square {
  background: var(--accent-color);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
.game {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.game-info {
  margin-top: 0;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li > button {
  margin: 4px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #fefefe;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}

li > button:hover {
  background-color: var(--accent-color);
}

.active-move {
  background-color: var(--accent-color);
}
